---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import GitHub from '../components/icons/GitHub.astro';
import GmailIcon from '../components/icons/Gmail.astro';
import Maleta from '../components/icons/Maleta.astro';
import YouTube from '../components/icons/YouTube.astro';
import Code from '../components/icons/Code.astro';
import SocialLinks from '../components/SocialLinks.astro';
import Experience from '../components/Experience.astro';
import Container from '../components/Container.astro';
import Projects from '../components/Projects.astro';
---

<Layout title="Portfolio de SimioDev - Desarrollador y Programador Web" description="Contrata a SimioDev para crear tu aplicación web. Hacemos de tu proyecto un sueño hecho realidad.">
	<main class="px-4">

		<Container class="py-36 pb-32">

			<div class="flex flex-row gap-x-6 mb-4">
				<img class="rounded-full size-16" src="/simio.png" alt="Simio Image">

				<div class="flex justify-center items-center">
					<Badge>Disponible para contrataciones ❤️</Badge>
				</div>

			</div>

			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold pb-6 lg:pb-10">Hey! Soy Nestor Cabrera</h1>
			
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]"><span class="text-purple-300">Futuro Ingeniero de Software</span>. Soy de Cucuta, Colombia y tengo actualmente 18 años de edad.</h2>


			<nav class="flex gap-4 mt-5 flex-wrap">
				<SocialLinks href="https://github.com/SimioDev">
					<GitHub class="size-4 md:size-6" />
					GitHub
				</SocialLinks>
				<SocialLinks href="https://github.com/SimioDev">
					<YouTube class="size-4 md:size-6" />
					YouTube
				</SocialLinks>
				<SocialLinks href="mailto:nestcdev@gmail.com">
					<GmailIcon class="size-4 md:size-6" />
					nestcdev@gmail.com
				</SocialLinks>
			</nav>

		</Container>

		<Container id="experiencia">
			<h2 class="text-2xl md:text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<Maleta class="size-7"/>
				Experiencia Laboral
			</h2>
			<Experience />
		</Container>
		
		<Container id="proyectos">
			<h2 class="text-2xl md:text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<Code class="size-7"/>
				Proyectos Realizados
			</h2>
			<Projects/>
		</Container>
	</main>
</Layout>

