---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: 'Actualmente',
        title: 'Formación profesional',
        description: 'Me encuentro estudiando una ingeniería en desarrollo de software, cursando quinto semestre.'
    },{
        date: 'Noviembre 2023',
        title: 'Desarrollador de Software',
        description: 'Principal desarrollador de software en empresa inmobiliaria, dedicado al análisis y revisión del funcionamiento de sus sistemas de información y herramientas de marketing.',
        link: '/'
    }
]
---

<ol class="relative border-s-2 border-gray-500">
    {
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-4">
                <ExperienceItem { ... experience } />
            </li>
        ))
    }                  

</ol>

