---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: 'Julio 29 - Actualmente',
        title: 'Auxiliar de Desarrollo (Gopenux Lab S.A.S)',
        description: 'Desarrollador enfocado en el área de infraestructura y front-end dentro de la empresa Gopenux.'
    },
    {
        date: 'Enero 2022 - Actualmente',
        title: 'Formación profesional',
        description: 'Me encuentro estudiando una ingeniería en desarrollo de software, cursando sexto semestre.'
    },{
        date: 'Noviembre 2023 - Abril 2024',
        title: 'Desarrollador de Software - Pita Ibiza Constructora Inmobiliaria',
        description: 'Principal desarrollador de software en empresa inmobiliaria, dedicado al análisis y revisión del funcionamiento de sus sistemas de información y herramientas de marketing.',
        // En caso de tener información extra: link: '/'
    },{
        date: 'Enero 2020 - Diciembre 2021',
        title: 'Tecnica en Sistemas',
        description: 'Realicé una Tecnica en Sistemas con el SENA, orientado al mantenimiento de equipos de computo, cableado y programación web básica.'
    }
]
---

<ol class="relative border-s-2 border-gray-500">
    {
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-4">
                <ExperienceItem { ... experience } />
            </li>
        ))
    }                  

</ol>

