<header class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto">
    
<nav class="flex flex-row gap-x-10 opacity-90 text-white">
    <a class="hover:text-purple-300" href="#top">Inicio</a>
    <a class="hover:text-purple-300" href="#experiencia">Experiencia</a>
    <a class="hover:text-purple-300" href="#proyectos">Proyectos</a>
    <a class="hover:text-purple-300" href="#contacto">Contacto</a>
</nav>

</header>